.project {
    margin-bottom: 96px;
  &__title{
    .title_area {
        h2 {
          @include section_title($dark_color);
        }
        .extra_color {
          color: $offset_blue_color;
        }
      }
      .logo_area{
          margin-bottom: 40px;
          img{
            margin-left: 150px;
          }
      }
  }
  &__image_area{
      position: relative;
      width: 96%;
      margin-bottom: 30px;
      .image_overlay{
        // background:linear-gradient(to right, #fff 70%, #166BBA 51%); 
        // background: rgba(0,0,0,0.7);
        background: rgba(22, 107, 186, 0.51);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
      }
      img{
          width: 100%;
      }
      .image_details{
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        a{
            background: rgba(30, 120, 211, 0.5);
            border-radius: 10px;
            text-decoration: none;
            padding: 14px 38px;
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
        }
      }
      .fadeIn-top{
        top: 20%;
      }
  }
  &__image_area:hover  .image_overlay{
      opacity: 1;
  }
  &__image_area:hover  .image_details{
    opacity: 1;
    top: 50%;
    left: 50%;
}

}

@media only screen and (max-width: 576px){
    .project {
        &__title{
            .title_area {
                h2 {
                  @include section_title($dark_color);
                  font-size: 37px;
                  line-height: 33px;
                }
              }
              .logo_area{
                  margin-bottom: 40px;
                  img{
                    margin-left: 0px;
                  }
              }
          }
          &__image_area{
            .image_details{
                a{
                    padding: 14px 9px;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
          }
    }
}