
// colors 
$offset_blue_color: #408CD9;
$dark_color: #404040;
$offset_dark_color:#C8C8C8;
$blue_light_gradient: linear-gradient(84.92deg, #00469F 2.05%, #1E79D6 99.48%);
$blue_dark_gradient:linear-gradient(84.92deg, #023E8A 2.05%, #0077B6 99.48%);
$white_light_gradient:linear-gradient(294.48deg, rgba(232, 232, 232, 0.6) 2.86%, rgba(255, 255, 255, 0.6) 98.37%);


// font-size
$font_xxl: 64px;
$font_xl:40px;
$font_lg:32px;
$font_md:24px;
$font_sm:16px;
$font_body:14px;
